@charset "UTF-8";
/**
 * Main CnC Stylesheet
 *
 * @author  Anders Evenrud <andersevenrud@gmail.com>
 * @package CnC
 */

@font-face {
  font-family : "CnC";
  src : url('/css/tiberium.ttf');
}

html, body {
  margin : 0;
  padding : 0;
  width : 100%;
  height : 100%;
  overflow : hidden;
  font-family : "CnC";
  letter-spacing : 2px;
}
body {
  background-color : #000;
}
body, a, table, td {
  color : #eee;
  text-decoration : none;
  font-weight : normal;
}

body, body.CursorDefault {
  cursor : url('/img/cursor/default.gif'), default;
}
body.CursorMove {
  cursor : url('/img/cursor/scroll.gif'), scroll;
}
/*body.CursorSelect {
  cursor : url('/img/cursor/select.gif'), pointer;
}*/

/* MAIN LAYOUT */

#Main {
  position : absolute;
  top : 30px;
  right : 0px;
  bottom : 0px;
  left : 0px;
  overflow : hidden;
}
  #MapContainer {
    position : relative;
  }

/* GUI */

#TopBar {
  position : absolute;
  top : 0px;
  left : 0px;
  right : 0px;
  height : 30px;
  z-index : 2000000;
  border-bottom : 1px solid #000;
}

  #TopBar .Button {
    position : absolute;
    width : 200px;
    height : 30px;
    background : url('/img/gui/gui_background.png');
    text-align : center;
    font-size : 12px;
    font-weight : bold;
    line-height : 30px;

    -webkit-border-top-left-radius: 15px;
    -khtml-border-radius-topleft: 15px;
    -moz-border-radius-topleft: 15px;
    border-top-left-radius: 15px;
    -webkit-border-top-right-radius: 15px;
    -khtml-border-radius-topright: 15px;
    -moz-border-radius-topright: 15px;
    border-top-right-radius: 15px;
  }
    #TopBar .Button.Clickable {
      color : #fff;
      text-shadow: 0px 0px 1px #fff;
    }
    #TopBar .Button.Clickable:hover {
      color : #eee;
      text-shadow: 0px 0px 1px #eee;
    }

  #TopBarButtonMenu {
  }
  #TopBarButtonPower {
    right : 400px;
    color : #2770e7;
    text-shadow: 0px 0px 1px #2770e7;
  }
  #TopBarButtonMoney {
    right : 200px;
    color : #e7b827;
    text-shadow: 0px 0px 1px #e7b827;
  }
  #TopBarButtonSideBar {
    right : 0px;
  }

#Sidebar {
  position : absolute;
  top : 30px;
  bottom : 0px;
  right : 0px;
  width : 200px;
  z-index : 2000001;
  background : url('/img/gui/gui_background.png');
  border-left : 1px solid #000;
}
  #MiniMap {
    position : absolute;
    top : 10px;
    right : 10px;
    width : 180px;
    height : 180px;
    border : 1px outset #555;
    overflow : hidden;
    background-color : #000;
    margin : -1px;
  }
    #MiniMapRect {
      position : absolute;
      top : 0px;
      left : 0px;
      width : 100px;
      height : 100px;
      border : 1px solid #ff0000;
      margin : -1px;
    }

  #Construction {
    position : absolute;
    top : 200px;
    left : 10px;
    right : 10px;
    height : 410px;
  }
    #ConstructionLeftScroll,
    #ConstructionRightScroll {
      position : absolute;
      top : 0px;
      left : 0px;
      right : 0px;
      bottom : 0px;
      overflow : hidden;
    }

    #ConstructionLeftUp img,
    #ConstructionLeftDown img,
    #ConstructionRightUp img,
    #ConstructionRightDown img {
      vertical-align : middle;
    }

    #ConstructionLeftScroll div,
    #ConstructionRightScroll div {
      border : 1px outset #555;
      margin : 9px;
      width : 62px;
      height : 46px;
      padding : 0;
    }

    #ConstructionLeftUp,
    #ConstructionRightUp {
      position : absolute;
      top : 10px;
      left : 10px;
      right : 10px;
      height : 20px;
      border : 1px outset #555;
      margin : -1px;
      text-align : center;
      overflow : hidden;
    }

    #ConstructionLeftDown,
    #ConstructionRightDown {
      position : absolute;
      bottom : 10px;
      left : 10px;
      right : 10px;
      height : 20px;
      border : 1px outset #555;
      margin : -1px;
      text-align : center;
      overflow : hidden;
    }

    #ConstructionLeft {
      position : absolute;
      top : 0px;
      left : 0px;
      width : 82px;
      bottom : 0px;
      border : 1px outset #555;
      margin : -1px;
    }

      #ConstructionLeftInner {
        position : absolute;
        top : 30px;
        left : 0px;
        right : 0px;
        bottom : 30px;
        overflow : hidden;
      }

    #ConstructionRight {
      position : absolute;
      top : 0px;
      right : 0px;
      width : 82px;
      bottom : 0px;
      border : 1px outset #555;
      margin : -1px;
    }

      #ConstructionRightInner {
        position : absolute;
        top : 30px;
        left : 0px;
        right : 0px;
        bottom : 30px;
        overflow : hidden;
      }

#WindowBackground {
  position : absolute;
  top : 50%;
  left : 50%;
  width : 400px;
  height : 300px;
  margin-left : -250px;
  margin-top : -150px;
  z-index  : 3000000;
  background : #000;
  display : none;

  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  opacity: 0.5;
}
#Window {
  position : absolute;
  top : 50%;
  left : 50%;
  width : 400px;
  height : 300px;
  margin-left : -251px;
  margin-top : -151px;
  overflow : hidden;
  z-index  : 3000001;
  border : 1px solid #555;
  display : none;

  -moz-box-shadow: 0px 0px 10px #000;
  -webkit-box-shadow: 0px 0px 10px #000;
  box-shadow: 0px 0px 10px #000;
}

/* MISC UI */

#Rectangle {
  position : absolute;
  top : 0px;
  right : 0px;
  width : 0px;
  height : 0px;
  border : 1px solid #fff;
  overflow : hidden;
  display : none;
  z-index  : 1000000;
  margin : -1px;
}

#Mask {
  position : absolute;
  top : 0px;
  right : 0px;
  width : 0px;
  height : 0px;
  z-index : 6;
  background : #ff0000;
  display : none;

  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  opacity: 0.5;
}

#Debugging {
  position : absolute;
  bottom : 10px;
  left : 10px;
  z-index : 1900000;
  color : #fff;
  text-shadow: 0px 0px 1px #000;
  font-family : Arial;
  letter-spacing : 0;
  font-size : 10px;
}

/* CANVAS CLASSES */

.Map {
  position : absolute;
  z-index : 5;
}
  .MapRoot {
    position : absolute;
    z-index : 5;
  }
  .MapOverlay {
    position : absolute;
    z-index : 6;
  }
  .MapOverlayObject {
    position : absolute;
    z-index : 7;
  }

.MapObject {
  position : absolute;
  z-index : 20;
}
  .MapObjectRoot {
    position : absolute;
    z-index : 20;
  }
  .MapObjectOverlay {
    position : absolute;
    z-index : 21;
    margin : -10px;
  }
  .MapObjectMask {
    position : absolute;
    z-index : 22;
    top : 0px;
    left : 0px;
  }
  /*
  .MapObjectArea {
    cursor : url('/img/cursor/select.gif'), pointer;
  }
  */

.MapObjectBuilding {
  z-index : 10;
}
  .MapObjectBuilding .MapObjectRoot {
    z-index : 10;
  }
  .MapObjectBuilding .MapObjectOverlay {
    z-index : 11;
  }
