@charset "UTF-8";
/**
 * Main CnC Stylesheet
 *
 * @author  Anders Evenrud <andersevenrud@gmail.com>
 * @package CnC
 */

body {
  margin : 0;
  padding : 0;
  overflow : hidden;
  background-color : #000;
}

#Sidebar {
  position : absolute;
  top : 10px;
  bottom : 10px;
  right : 10px;
  width : 200px;
  border : 1px solid #fff;
  overflow : hidden;
}

#Main {
  /*
  position : relative;
  width : 640px;
  height : 480px;
  margin : 0 auto;
  */

  position : absolute;
  top : 10px;
  right : 220px;
  bottom : 10px;
  left : 10px;
  border : 1px solid #fff;
  overflow : hidden;
}
#MainContainer {
  position : relative;
}

#MapObject {
  position : absolute;
}
